<h1>Welcome to the Doctor Directory</h1>

<table>
  <thead>
    <th>Username</th>
    <th>Address</th>
    <th>Gender</th>
    <th></th>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
    <tr>
      <td>doctor.username</td>
      <td>doctor.address</td>
      <td>doctor.gender</td>
      <!-- Insert logic for Show, edit, destroy if logged in later -->
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Doctor', new_doctor_path %>

<!-- Insert logic for Male and Female list if logged in later -->
